body {
    font-family: Arial, sans-serif;
    background-image: url(/image/fond.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
 }
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  
  }
  
  .auth-box {
    display: flex;
    gap: 50px;
    padding: 40px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  }
  
  .auth-form {
    width: 300px;
    text-align: left;
  }
  
  .auth-form h2 {
    margin-bottom: 20px;
  }
  
  .auth-form input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .auth-form button {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
  }
  
  .auth-form button:hover {
    background: grey;
  }
  
  .erreur-msg {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }