
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Changer le mot de passe</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="logo-container">
        <img src="/image/logo.png" alt="Logo FZT4" class="logo fade-in-element" />
    </div>

    <div class="search-container">
        <form id="search-form">
            <input type="text" id="search-input" placeholder="Rechercher un produit..." />
            <button type="submit">🔍</button>
        </form>
    </div>

    <div class="onglets">
        <a href="profil.html"><img src="/image/profil.png" alt="Profil" /></a>
        <a href="panier.html"><img src="/image/panier.png" alt="Panier" /></a>
    </div>


  <main class="auth-container">
    <div class="auth-box">
      <div class="auth-form">
        <h2>Nouveau mot de passe</h2>
        <form id="change-form">
          <input type="password" name="password" placeholder="Nouveau mot de passe" required>
          <button type="submit">Changer</button>
          <p id="change-message" class="erreur-msg"></p>
        </form>
      </div>
    </div>
  </main>
  <script src="/static/js/change.js"></script>
</body>
</html>