<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Fiche Produit</title>
    <link rel="stylesheet" href="/static/produit.css">
    <link rel="icon" type="image/x-icon" href="image/icon.png">
</head>
<body>

<header>
    <img src="image/logo.png" width="200" alt="Logo FZT4">
    <div class="search-container">
        <form action="/search" method="GET">
            <input type="text" placeholder="Rechercher..." name="query">
            <button type="submit">🔍</button>
        </form>
    </div>
    <nav>
        <a href="/"><img src="image/home.png" width="40" alt="Accueil"></a>
        <a href="profil.html"><img src="image/profil.png" width="40" alt="Profil"></a>
    </nav>
</header>

<main class="fiche-page">
    <section class="fiche-wrapper" id="fiche-produit">
    </section>
</main>

<script src="/static/js/produit.js"></script>
</body>
</html>
